.empty__message {
  margin-bottom: 50px;
  font-size: 18px;
}
.video-grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, minmax(0, 2fr));
  position: relative;
  left: -15px;
}
.auth-switch {
  text-align: center;
  margin-top: 40px;
  a {
    text-decoration: underline;
  }
}

.fa-face-smile {
  font-size: 37px;
}
.comment__avatar {
  height: 47px;
  width: 47px;
  border-radius: 50%;
}
.avatar-icon {
  font-size: 140px;
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
