#videoContainer {
  width: 100%;
  position: relative;

  video {
    width: 100%;
  }
  .videoControls {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    &.showing {
      opacity: 1;
    }
    align-items: center;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    width: 95%;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr auto;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    left: 0;
    box-sizing: border-box;
    .videoControls__play {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .videoControls__playBtn {
        margin: 0px 15px;
        i {
          cursor: pointer;
          font-size: 25px;
        }
      }
      .videoControls__time {
        font-size: 12px;
      }
    }
    .videoControls__timeline {
      color: gray;
      cursor: pointer;
      position: absolute;
      top: -20px;
      width: 100%;
      background: grey;
    }
    .videoControls__volume {
      display: flex;
      align-items: center;

      input {
        cursor: pointer;
        margin-right: 15px;
      }
      span {
        margin-right: 10px;
        i {
          font-size: 20px;
          cursor: pointer;
        }
      }
    }
  }
}
