extends base

block content
    div.avatar__container
        if !loggedInUser.avatarUrl
            i.fa-solid.fa-face-smile.edit__avatar-icon
        else 
            img(src=`${isRender ? loggedInUser.avatarUrl : "/"+loggedInUser.avatarUrl}`).edit__avatar
    if errorMessage
        span=errorMessage
    form(method="POST" enctype="multipart/form-data").edit-profile__form
        label(for="avatar") Avatar 
        input(name="avatar" type="file" id="avatar" accept="image/*")
        input(name="name" type="text" placeholder="Name" value=loggedInUser.name required)
        input(type="submit" value="edit")
    hr
    if !loggedInUser.socialOnly
        div.edit-profile__password
                a(href="change-password") Change Password &rarr;