extends base

block content
    form(method="POST")
        input(name="email" type="email" placeholder="Email" required) 
        input(name="password" type="password" placeholder="Password" required)
        input(type="submit" value="Login")
    include partials/social-login 
        //-div.auth-switch
        a.link(href="/join") Don't have an account? &rarr;
     
